.menu-link {
  color: #78211E;

}

.menu-link:hover {
  color: #972a26;
  text-decoration: none;
}

.to-menu {
  height: 100%;
}

.about-animation {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}
