.homepage-components {
  display: block;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.about {
  background-color: #BB9771;
  color: #424638;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}