html {
  scroll-behavior: smooth;
  background-color: var(--red);
}
.App {
  text-align: center;
  font-family: "Anton SC", serif;
  overflow-x: hidden;
}

:root {
  --red: #78211E;
  --yellow: #EFBC49;
  --green: #616852;
  --blue: #002255;
  --gray: #BEB3AC;
  --brown: #BB9771;

}
.footer {
  background-color: #00000030;
}

.footer a {
  color: var(--yellow)
}


.copyright {
  background-color: #00000030;
}

.copyright a {
  color: var(--yellow)

}

.bg-brown {
  background-color: var(--brown);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-red {
  background-color: var(--red);

}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-gray {
  background-color: var(--gray);
  color: var(--red);
}

.bg-green {
  background-color:  var(--green);
}

.brown-text {
  color: var(--brown);
}

.blue-text {
  color: var(--blue);
}

.red-text {
  color: var(--red);
}

.yellow-text {
  color: var(--yellow);
}

.gray-text {
  color: var(--gray);
}

.green-text {
  color: var(--green)
}